.vscode/
venv/
docs/
instance/application.dev.cfg
temp/
tests/
.git/
.gitignore
deploy_docker.sh
pylintrc
rebuild_docker.sh
test_gen_ws_secret.py
test_sg.py
sendgrid.env
docker-compose.dev.yml
**/__pycache__
*.pyc
get_docker_ips.sh
swagger.json
